/*
=============== 
Fonts
===============
*/

@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"),
    url(https://fonts.gstatic.com/s/shrikhand/v5/a8IbNovtLWfR7T7bMJwrA4KR.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  overflow-x: hidden;
  --clr-primary: #70c9d5;
  --clr-secondary: rgb(186, 95, 122);
  --clr-text: rgb(59, 59, 59);
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/*
=============== 
Global Styles
===============
*/

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    color: var(--clr-text);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.container {
  /* overflow-x: hidden; */
  /* width: 100%; */
  max-width: 122.5rem;
  margin: 3rem auto;
  padding: 0 2.4rem;
  /* border: black 1px solid; */
}

/*
=============== 
NAVBAR
===============
*/

nav {
  /* overflow-x: hidden; */
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 5;
}

.nav__center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav__toggle > .fa-bars {
  display: none;
}

.nav__toggle > .fa-times {
  display: none;
}

.nav__list {
  display: flex;
  gap: 2.3rem;
}

.nav__link {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: #fff;
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--clr-secondary);
}

/*
=============== 
HEADER VIDEO
===============
*/

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  z-index: -1;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.video__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  overflow: hidden;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

/* HEADER TITLE */

.title__section {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.title__section > hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title__section h1 {
  color: var(--clr-white);
  font-family: Shrikhand, var(--ff-primary);
  margin-bottom: -0.5rem;
}

.title__section h3 {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  text-transform: capitalize;
}

.title__section a {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  margin-top: 4rem;
  padding: 0.75rem 0.6rem;
  border: solid 1px var(--clr-text);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

.title__section a:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  border: solid 1px var(--clr-text);
}

/* MAIN CONTENT */

.main__headline {
  font-family: var(--ff-secondary);
  letter-spacing: -1px;
}

.main__info {
  text-align: center;
}

.main__description {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.main__description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.btn {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  width: 300px;
  text-transform: uppercase;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding: 0.75rem 0;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  align-self: center;
}

.btn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
}

/* RATING */

.rating__container {
  overflow-x: hidden;
  background-color: var(--clr-secondary);
  height: 27rem;
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__container h2:nth-of-type(2) {
  font-style: italic;
}

.rating__link {
  align-self: flex-end;
  margin-bottom: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
}

.rating__stars {
  font-size: 40px;
}

.rating__1,
.rating__2,
.rating__3 {
  transform: translateX(100%);
  opacity: 0;
  display: hidden;
  position: absolute;
  left: 10%;
  margin-right: 5rem;
}

/* DIVIDER */

.divider--explore {
  background: url(../gallery-images/big-living-space.jpg) center no-repeat;
  background-size: cover;
}

.divider--amenities {
  background: url(../gallery-images/kitchen-with-updated-appliances.jpg) center
    no-repeat;
  background-size: cover;
}

.divider h1 {
  color: var(--clr-white);
  font-family: "shrikhand";
  text-transform: capitalize !important;
  letter-spacing: 2px;
  text-shadow: 3px 3px 12px rgb(11, 12, 12);
  font-size: 3rem;
}

.between {
  min-height: 20vh;
  display: flex;
  align-items: center;
  text-align: center;
}

/* GALLERY */

.image__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.amenities__grid {
  padding-top: 5rem;
  padding-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  place-content: center;
  gap: 10%;
}

.amenities__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  /* border: red solid 3px; */
}

.amenities__bottom {
  /* overflow: hidden; */
  display: none;
  animation: view-less 2s forwards;
  margin-bottom: 4rem;
}

.show {
  display: block;
  animation: view-more 2s forwards;
}

/* VIEW MORE AMENITIES */

.amenities__button__container {
  cursor: pointer;
  z-index: 6;
}

.amenities__button {
  width: 6rem;
  height: 6rem;
  background-color: var(--clr-primary);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 50%;
  z-index: 5;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
}

i .fa-chevron-down {
  display: block;
}

i.fa-chevron-up {
  display: none;
}

.view i.fa-chevron-up {
  display: block;
  z-index: 5;
}

.view i.fa-chevron-down {
  display: none;
  z-index: 5;
}

.amenities__view,
.amenities__more {
  position: absolute;
  color: var(--clr-primary);
  text-transform: uppercase;
  font-size: 1.3rem;
}

.amenities__view {
  right: 105px;
}

.amenities__more {
  left: 105px;
}

.amenities__button i {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 2rem;

  /* For Animation */
  animation: pulse 2s infinite;
}

/* CONTACT */

.contact {
  margin-top: 6rem;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(236, 236, 236),
    rgb(247, 247, 247)
  );
}

.contact h2 {
  color: var(--clr-text);
  font-size: 3rem;
}

.contact__link {
  margin-top: 4rem;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(54, 67, 90);
  /* gap: 4rem; */
}

.contact__call {
  font-size: 1.5rem;
}

.contact__call,
.contact__mail,
.contact__web {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 150px;
  width: 150px; */
  /* margin: 10px; */
  padding: 3rem;
  border-radius: 20%;
}

a img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  display: block;
}

#call {
  height: 110px;
  width: 110px;
}

#mail,
#calendar {
  height: 100px;
  width: 100px;
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-moz-keyframes view-more {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes view-more {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes view-more {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes view-more {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes rating-slide {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  15%,
  85% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@-o-keyframes rating-slide {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  15%,
  85% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@-webkit-keyframes rating-slide {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  15%,
  85% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes rating-slide {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  15%,
  85% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 960px) {
  .navbar {
    position: fixed;
    z-index: 90;
    z-index: 95000;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: rgb(95, 92, 89);
    padding: 1rem;
    transition: all 0.3s linear;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 190;
    overflow: hidden;
    z-index: 5000;
  }

  .nav-link {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
    z-index: 98000;
  }

  .nav-link:hover {
    color: rgb(95, 230, 230);
    z-index: 95000;
  }

  /* hhhhhhhhhhhhhhh */

  nav {
    position: fixed;
    z-index: 8;
  }

  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: var(--clr-text);
    padding: 1rem;
    transition: var(--transition);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    /* align-items: center; */
    margin-top: 0px;
  }

  .nav__link {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
  }

  /* .nav__item {
    margin-bottom: 2rem;
  } */

  .nav__toggle {
    position: fixed;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    color: var(--clr-primary);
    z-index: 5;
  }

  .black {
    color: black;
  }

  .nav__toggle > .fa-bars {
    display: block;
  }

  .nav__toggle > .fa-times {
    display: none;
  }

  .open .nav__toggle > .fa-times {
    display: block;
    z-index: 5;
  }

  .open .nav__toggle > .fa-bars {
    display: none;
    z-index: 5;
  }

  .open .nav__list {
    transform: translateX(0);
  }

  .rating__container p {
    font-size: 0.7rem !important;
  }

  .rating__container h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .rating__container {
    height: 27rem;
  }
}
/* 
@media (-webkit-min-device-pixel-ratio: 2) {
  .main {
    background: url(../gallery-images/front-beach-view-mobile.jpg);
    background-size: cover;
    background-position-y: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
} */

@media screen and (min-width: 900px) {
  .main__headline {
    margin-bottom: 3rem;
  }

  .main__info {
    display: flex;
    align-items: center;
  }

  .main__info > article {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
    padding-left: 4.6rem;
  }

  .padding-left {
    padding-left: 7rem;
    padding-right: 4.6rem;
  }

  .divider h1 {
    font-size: 5rem;
  }

  .between {
    min-height: 40vh;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 400px) {
  .amenities__grid {
    padding-top: 4rem;
    grid-template-columns: repeat(3, 100px);
    gap: 15%;
  }

  .amenities__bottom {
    margin-top: -95px;
    overflow: hidden;
  }
}

@media screen and (min-width: 870px) {
  .amenities__grid {
    padding-top: 4rem;
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    place-content: center;
    gap: 10%;
  }

  .contact {
    background: #fff;
  }

  .contact__link {
    gap: 6rem;
  }

  .contact__call,
  .contact__mail,
  .contact__web {
    background-color: rgb(247, 247, 247);
  }

  .amenities__item {
    background-color: var(--clr-white);
    padding: 0.5rem 3rem;

    border-radius: 20%;
  }
}

@media only screen and (max-width: 603px) {
  /* .contact__link {
    gap: 0rem;
  } */

  .contact {
    margin-top: 20rem;
  }

  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: -2rem;
  }

  .contact__call,
  .contact__mail,
  .contact__web {
    /* margin: 20px 0; */
  }

  .main h3 {
    font-size: 1.2rem;
  }

  /* .amenities__button__container {
    margin-top: 9rem;
    
  } */

  .amenities__bottom {
    margin-bottom: 15rem;
    /* margin-bottom: 8rem; */
  }
}

@supports (-webkit-touch-callout: none) {
  .amenities__button__container {
    margin-bottom: 8rem;
  }
}
